@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject UniLinks.Client.Site.Services.Coordinator.CourseService _courseService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniLinks</title>
    <base href="~/" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/mdb.min.css" rel="stylesheet" />
    <link href="css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="css/datatables.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/choices.css" />
    <link id="clientThemeLink" href="css/theme.light.css" rel="stylesheet" />
</head>
<body id="home" class="theme-bg theme-text" onload="checkTheme()">
    <div class="app">
        <aside class="sidebar" style="display: table">
            <div class="navbar shadow-sm main-navbar-aside">
                <a class="navbar-brand font-nav-title animated heartBeat delay-3s slower" href="/">
                    <span style="color: white;">Uni</span><span style="color: darkorange;">Links</span>
                </a>
                <button data-toggle="collapse" data-target="#navbarResponsive-panel" class="navbar-toggler navbar-toggler-right" type="button"
                        aria-controls="navbarResponsive-panel" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu mdi-36px text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive-panel">
                    <div style="margin: 10px; color: #d2d2d2; font-size: 15px">
                        <p style="margin: 0">Conectado como</p>
                        <p style="margin: 0; margin-bottom: -4px">@User.FindFirst(ClaimTypes.Name).Value</p>
                        @if (User.FindFirst(ClaimTypes.Role)?.Value == nameof(UserTypeEnum.Student))
                        {
                            <p style="font-size:13px; font-weight: 700; margin: 0">Aluno</p>
                        }
                        else if (User.FindFirst(ClaimTypes.Role)?.Value == nameof(UserTypeEnum.Coordinator))
                        {
                            <p style="font-size:13px; font-weight: 700; margin: 0">Coordenador</p>
                        }
                    </div>
                    <ul class="nav flex-column animated bounceIn">
                        <li class="nav-item py-0">
                            <a class="nav-link waves-effect" href="">
                                <span class="mdi mdi-home mdi-18px icon-margin-right"></span> Página Inicial
                            </a>
                        </li>
                        @if (User.FindFirst(ClaimTypes.Role)?.Value == nameof(UserTypeEnum.Student))
                        {
                            <li class="nav-item py-0">
                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Student">
                                    <i class="mdi mdi-record-rec mdi-18px icon-margin-right" aria-hidden="true"></i> Minhas Aulas
                                </a>
                            </li>
                            <li class="nav-item py-0">
                                <a class="nav-link waves-effect" asp-action="Classes" asp-controller="Student">
                                    <i class="mdi mdi-google-lesson mdi-18px icon-margin-right" aria-hidden="true"></i> Salas Online
                                </a>
                            </li>
                        }
                        else if (User.FindFirst(ClaimTypes.Role)?.Value == nameof(UserTypeEnum.Coordinator))
                        {
                            <li class="nav-item py-0">
                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Coordinator">
                                    <i class="mdi mdi-account-star mdi-18px icon-margin-right" aria-hidden="true"></i> Painel
                                </a>

                                @{
                                    var request = await _courseService.GetCourseByCoordIdTaskAsync(User.FindFirst("Token").Value);

                                    if (request.StatusCode == System.Net.HttpStatusCode.OK)
                                    {
                                        <ul class="nav flex-column">
                                            <li class="nav-item py-0 nav-panel-margin">
                                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Students">
                                                    <i class="mdi mdi-account-multiple mdi-18px icon-margin-right" aria-hidden="true"></i> Estudantes
                                                </a>
                                            </li>
                                            <li class="nav-item py-0 nav-panel-margin">
                                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Lessons">
                                                    <i class="mdi mdi-record-rec mdi-18px icon-margin-right" aria-hidden="true"></i> Aulas Gravadas
                                                </a>
                                            </li>
                                            <li class="nav-item py-0 nav-panel-margin">
                                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Disciplines">
                                                    <i class="mdi mdi-bookshelf mdi-18px icon-margin-right" aria-hidden="true"></i> Disciplinas
                                                </a>
                                            </li>
                                            <li class="nav-item py-0 nav-panel-margin">
                                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Classes">
                                                    <i class="mdi mdi-google-lesson mdi-18px icon-margin-right" aria-hidden="true"></i> Salas Online
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                            <li class="nav-item py-0">
                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Course">
                                    <i class="mdi mdi-information-variant mdi-18px icon-margin-right" aria-hidden="true"></i> Informaçao do Curso
                                </a>
                            </li>
                        }
                        <li class="nav-item py-0">
                            <a class="nav-link waves-effect" asp-action="Logout" asp-controller="Home">
                                <i class="mdi mdi-logout mdi-18px icon-margin-right" aria-hidden="true"></i> Deslogar
                            </a>
                        </li>

                        <li class="nav-item py-0">
                            <hr class="separator" />
                        </li>
                        <li class="nav-item py-0">
                            <div class="nav-link waves-effect">
                                <div class="row no-gutters">
                                    <div class="col-auto py-0" style="color: #d7d7d7">
                                        <i class="mdi mdi-theme-light-dark mdi-18px icon-margin-right" style="vertical-align: middle"></i>
                                        <span>Modo Escuro: </span>
                                    </div>
                                    <div class="col-auto align-content-end">
                                        <label class="switch">
                                            <input id="themeCheckbox" type="checkbox" onclick="ChangeTheme()">
                                            <span class="slider round">
                                                <i class="mdi mdi-weather-night mdi-18px icon-margin-right white-text" style="margin-left: 5px;"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item py-0">
                            <a class="nav-link waves-effect" href="/#devs">
                                <i class="mdi mdi-xml mdi-18px icon-margin-right" aria-hidden="true"></i> Desenvolvedores
                            </a>
                        </li>

                        <li class="nav-item py-0">
                            <a class="nav-link waves-effect" href="/#about">
                                <i class="mdi mdi-information-variant mdi-18px icon-margin-right" aria-hidden="true"></i> Sobre
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/Notifier.js"></script>

        <main role="main" class="main" style="margin: 5px">
            <h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
            <hr />

            @RenderBody()
        </main>

        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/mdb.min.js"></script>
        <script src="~/js/datatables.min.js"></script>
        <script src="~/js/site.js"></script>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>