@using System.Text.Json;
@using System.Globalization;

@{
    ViewData["Title"] = "Painel";
    Layout = "Layout";
}

@model List<LessonDisciplineVO>

<h4 class="text-center p-3">Aulas</h4>

<div class="container">
    @*@if (selected != null)
        {*@
    <article class="row justify-content-center d-flex" id="card-lesson">
        <span>Selecione uma aula</span>
    </article>
    @*}*@

    <div class="row" style="display: grid; text-align: -webkit-center">
        <div class="card theme-card theme-text" style="border-radius: 2em; margin: 20px; max-width: 800px">
            <div class="row">
                <div class="col">
                    <div class="md-form" style="margin-bottom: 5px; margin-top: 10px; margin-left: 20px">
                        <input type="text" @*@oninput="@((e) => FilterSearch(e))"*@ style="margin: 0;" class="form-control theme-text" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col" style="max-width: 110px; margin-right: 10px;margin-top: 5px;margin-bottom: 5px; border-radius: 1em; padding-left: 0">
                    <select class="theme-card theme-text" style="border: 0; padding-top: 15%; padding-bottom: 10%" @*@bind="@FilterSelected" @bind :event="onchange"*@>
                        <option disabled aria-disabled="true">Filtar por</option>
                        <option value="1">Disciplina</option>
                        <option value="2">Periodo</option>
                        @*<option value="3">Data</option>*@
                    </select>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <div class="row justify-content-center d-flex">
            <span class="text-center">Ops, Nao existe nenhuma aula de suas disciplinas! 🥺</span>
        </div>
    }
    else
    {
        <div class="row justify-content-center d-flex">
            <span style="padding-bottom: 20px">Encontradas: @Model.Count</span>
        </div>
        <section id="lessons-list-table" class="row nosection-padding">
            <div class="col-md-12">
                <div class="d-flex justify-content-lg-center">
                    <table class="table table-hover table-students theme-bg theme-text" style="max-width: 600px">
                        <thead>
                            <tr class="collapse">
                                <th scope="col">Disciplina</th>
                                <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lesson in Model)
                            {
                                var durationInDateTime = new DateTime(0001, 01, 01).AddMilliseconds(lesson.Lesson.Duration);
                                var duration = durationInDateTime.ToString(@"HH \hora(\s) e mm \minu\to(\s)");
                                var created = lesson.Lesson.Date.ToString("dd/MM/yyyy", new CultureInfo("pt-BR"));

                                string json = JsonSerializer.Serialize(new { lessonVO = lesson, duration, created });

                                <tr class="tr-hover tr-lesson" onclick="showLessonCard(@json)">
                                    <td class="text-wrap col-12 unselectable">@lesson.Discipline.Name</td>
                                    <td class="text-wrap col unselectable" style="color: #6b6b6b; font-size: 0.9em">@created</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    }
</div>

@*@if (selected != null)
    {
        <div class="modal animated bounceInDown" id="lessonSubjectModal" tabindex="-1" role="dialog" aria-labelledby="modalNewStudent"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content theme-bg theme-text">
                    <div class="modal-header border-0 text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-center ml-5">Assuntos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="theme-text">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <span class="text-center">@selected.Lesson.LessonSubject</span>
                    </div>
                </div>
            </div>
        </div>
    }*@