@using UniLinks.Dependencies.Data.VO.Lesson

@{
    ViewData["Title"] = "Painel";
    Layout = "Layout";
}

@model List<LessonDisciplineVO>

<h4 class="text-center p-3">Aulas</h4>

<div class="container">
    @*@if (selected != null)
        {*@
    <article class="row justify-content-center d-flex">
        <div class="card card-lesson theme-card theme-text">
            <div class="row nowrap-row" style="height: 6em">
                <div class="col-3 image-lesson">
                    <img class="card-lesson-image" src="img/collabRec.jpg" alt="Thumbnail da aula">
                </div>

                <div class="col-7" style="padding-left: 10px;padding-top: 10px;">
                    <h6 style="width: auto;min-width: 205px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@Model[0].Discipline.Name</h6>
                    @*@if (!string.IsNullOrEmpty(selected.Lesson.LessonSubject))
                        {
                            <p class="card-text blue-text" style="margin-top: -10px" data-target="#lessonSubjectModal" data-toggle="modal">
                                <u style="font-size: 15px; cursor: pointer">Ver assuntos</u>
                            </p>
                        }*@
                    @{
                        var durationInDateTime = new DateTime(0001, 01, 01).AddMilliseconds(Model[0].Lesson.Duration);
                        var duration = durationInDateTime.ToString(@"HH \hora(\s) e mm \minu\to(\s)");
                    }
                    <span style=" font-size: 13px; color: grey; top: 30px; position: absolute;" data-toggle="tooltip" data-placement="bottom" title="Duraçao da aula">@duration</span>
                    <span style="position: absolute;bottom: 5px;left: 10px;font-size: 14px;color: grey;" data-toggle="tooltip" data-placement="bottom" title="Data/hora que a aula foi adicionada">@Model[0].Lesson.Date.ToString(@"dd/MM/yyyy HH:mm")</span>
                </div>

                <div class="col-2 text-center">
                    <div class="animated pulse slower delay-2s infinite" style="position: absolute; bottom: 25%; right: 20%" data-toggle="tooltip" data-placement="right" title="Abrir aula">
                        <a class="blue-text" href="@Model[0].Lesson.URI" target="_blank">
                            <i class="mdi mdi-open-in-new" style="font-size: 2em"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    @*}*@

    <div class="row" style="display: grid; text-align: -webkit-center">
        <div class="card theme-card theme-text" style="border-radius: 2em; margin: 20px; max-width: 800px">
            <div class="row">
                <div class="col">
                    <div class="md-form" style="margin-bottom: 5px; margin-top: 10px; margin-left: 20px">
                        <input type="text" @*@oninput="@((e) => FilterSearch(e))"*@ style="margin: 0;" class="form-control theme-text" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col" style="max-width: 110px; margin-right: 10px;margin-top: 5px;margin-bottom: 5px; border-radius: 1em; padding-left: 0">
                    <select class="theme-card theme-text" style="border: 0; padding-top: 15%; padding-bottom: 10%" @*@bind="@FilterSelected" @bind :event="onchange"*@>
                        <option disabled aria-disabled="true">Filtar por</option>
                        <option value="1">Disciplina</option>
                        <option value="2">Periodo</option>
                        @*<option value="3">Data</option>*@
                    </select>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <div class="row justify-content-center d-flex">
            <span class="text-center">Ops, nao tem nada aqui! 🥺</span>
        </div>
    }
    else
    {
        <div class="row justify-content-center d-flex">
            <span style="padding-bottom: 20px">Encontradas: @Model.Count</span>
        </div>
        <section id="lessons-list-table" class="row nosection-padding">
            <div class="col-md-12">
                <div class="d-flex justify-content-lg-center">
                    <table class="table table-hover table-students theme-bg theme-text" style="max-width: 600px">
                        <thead>
                            <tr class="collapse">
                                <th scope="col">Disciplina</th>
                                <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lesson in Model)
                            {
                                <tr class="tr-hover" @*@onclick="@(() => SelectLesson(lesson))"*@>
                                    <td class="text-wrap col-12 unselectable">@lesson.Discipline.Name</td>
                                    <td class="text-wrap col unselectable" style="color: #6b6b6b; font-size: 0.9em">@lesson.Lesson.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    }
</div>

@*@if (selected != null)
    {
        <div class="modal animated bounceInDown" id="lessonSubjectModal" tabindex="-1" role="dialog" aria-labelledby="modalNewStudent"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content theme-bg theme-text">
                    <div class="modal-header border-0 text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-center ml-5">Assuntos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="theme-text">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <span class="text-center">@selected.Lesson.LessonSubject</span>
                    </div>
                </div>
            </div>
        </div>
    }*@