@{
    ViewData["Title"] = "Aulas";
}

@model List<LessonDisciplineVO>

<h1>Lessons</h1>

<table class="table">
    <thead>
        <tr>
            <th>URI</th>
            <th>Assunto</th>
            <th>Disciplina</th>
            <th>Data</th>
            <th>Duraçao</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (LessonDisciplineVO item in Model)
        {
            <tr>
                <td>@item.Lesson.URI</td>
                <td>@item.Lesson.LessonSubject</td>
                <td>@item.Discipline.Name</td>
                <td>@item.Lesson.Date</td>
                <td>@item.Lesson.Duration</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>