@using System.Text.Json

@model StatusVO

@{
    ViewData["Title"] = "Painel";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="theme-text" style="padding-bottom: 2em; padding-top: 1em;">
            <span>Algumas informações sobre o curso!</span>
        </div>
    </div>

    <div class="row cards-coord-info">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow py-2 theme-bg theme-text cards-coord-border" style=" border-left: 4px solid #00c851 !important;">
                <div class="card-body" style="padding: .8rem !important;">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                <i class="mdi mdi-record-rec icon-margin-right" style="font-size: 24px;"></i><span>Aulas</span>
                            </div>
                            <div class="font-weight-bold h5 mb-0" style="padding-left: 4px"><span>@Model.LessonsCount</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow py-2 theme-bg theme-text cards-coord-border" style="border-left: 4px solid #a6c  !important;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-secondary font-weight-bold text-xs mb-1">
                                <i class="mdi mdi-google-lesson icon-margin-right" style="font-size: 20px"></i><span>Salas</span>
                            </div>
                            <div class="font-weight-bold h5 mb-0"><span>@Model.ClassesCouunt</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow py-2 theme-bg theme-text cards-coord-border" style="border-left: 4px solid #4285f4 !important;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                <i class="mdi mdi-bookshelf icon-margin-right" style="font-size: 20px"></i><span>Disciplinas</span>
                            </div>
                            <div class="font-weight-bold h5 mb-0"><span>@Model.DisciplinesCount</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow py-2 theme-bg theme-text cards-coord-border" style="border-left: 4px solid #ff3547 !important;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-danger font-weight-bold text-xs mb-1">
                                <i class="mdi mdi-account-multiple icon-margin-right" style="font-size: 20px"></i><span>Alunos</span>
                            </div>
                            <div class="font-weight-bold h5 mb-0"><span>@Model.StudentsCount</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center py-2 px-3">
        <div class="card shadow py-2 theme-bg theme-text cards-coord-border">
            <div class="card-header" style="border: 0; background-color: transparent">
                <h6 class="font-weight-bold m-0 text-center">Ultimas 5 Aulas Adicionadas</h6>
            </div>
            <div class="card-body">
                @if (Model.FiveLastLessons.Count() == 0)
                {
                    <h6 class="text-center">Ainda o courso ainda não possui nenhuma aula! 😢</h6>
                }
                else
                {
                    <table class="table table-hover table-students theme-bg theme-text" style="max-width: 600px">
                        <tbody>
                            @foreach (var lesson in Model.FiveLastLessons)
                            {
                                var created = lesson.Lesson.Date.ToString("dd/MM/yyyy");

                                <tr class="tr-hover tr-lesson">
                                    <td class="text-wrap col-12 unselectable coord-index-discipline-name">@lesson.Discipline.Name</td>
                                    <td class="text-wrap col unselectable td-students-lesson coord-index-date" style="color: #6b6b6b; font-size: .9em">@created</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>