@{
    ViewData["Title"] = "Aulas";
}

@model List<LessonDisciplineVO>

<h1>Lessons</h1>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">URI</th>
            <th class="th-sm">Assunto</th>
            <th class="th-sm">Disciplina</th>
            <th class="th-sm">Data</th>
            <th class="th-sm">Duraçao</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LessonDisciplineVO item in Model)
        {
            <tr>
                <td>@item.Lesson.URI</td>
                <td>@item.Lesson.LessonSubject</td>
                <td>@item.Discipline.Name</td>
                <td>@item.Lesson.Date</td>
                <td>@item.Lesson.Duration</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>URI</th>
            <th>Assunto</th>
            <th>Disciplina</th>
            <th>Data</th>
            <th>Duraçao</th>
        </tr>
    </tfoot>
</table>