@layout Layout
@page "/coordinator/lessons"

@using Syncfusion.Blazor.DropDowns

<h3>Aulas</h3>

<div class="control_wrapper">
    <SfMultiSelect TValue="List<Discipline>" @bind-Value="@values" IgnoreAccent="true" IgnoreCase="true" AllowFiltering="true" ModelType="@typeof(List<Discipline>)" ShowDropDownIcon="true" Placeholder="Selecione uma disciplina" DataSource="@disciplines">
        <MultiSelectTemplates>
            <NoRecordsTemplate>
                <span class="text-center">Nao tem nada aqui</span>
            </NoRecordsTemplate>
            <ItemTemplate>
                <span>
                    <span>@((context as Discipline).Name)</span>
                    <span class='period'>@((context as Discipline).Period)° Periodo</span>
                </span>
            </ItemTemplate>
        </MultiSelectTemplates>
        <MultiSelectFieldSettings Text="@nameof(Discipline.Name)"></MultiSelectFieldSettings>
    </SfMultiSelect>
</div>

@if (values != null)
{
    @foreach (var item in values)
    {
        <p>@item.Name</p>
    }
}

<style>
    .period
    {
        right: 15px;
        position: absolute;
    }

    .control_wrapper
    {
        max-width: 400px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>
@code{
    private List<Discipline> values;

    public class Discipline
    {
        public int Period { get; set; }
        public string Name { get; set; }
        public Guid Id { get; set; }
        public Discipline()
        {
            Id = Guid.NewGuid();
        }
    }

    List<Discipline> disciplines = new List<Discipline>()
{
        new Discipline() { Period = 2, Name = "Calculo IV"},
        new Discipline() { Period = 2, Name = "Fundamentos de Programaçao"},
        new Discipline() { Period = 6, Name = "Vetores e Geometria Analitica"},
        new Discipline() { Period = 3, Name = "Calculo Numerico"},
        new Discipline() { Period = 4, Name = "Fisica I"},
        new Discipline() { Period = 7, Name = "Ciencias do Ambiente"},
        new Discipline() { Period = 5, Name = "Leitura a produçao de textos tecnicos"},
        new Discipline() { Period = 1, Name = "Calculo II"},
        new Discipline() { Period = 8, Name = "Fisica III"},
        new Discipline() { Period = 9, Name = "Principios de Eletronica" },
        new Discipline() { Period = 6, Name = "Linguagens de Programaçao" },
    };
}