@layout Layout
@page "/coordinator/students"

@using Syncfusion.Blazor.DropDowns
@using UniLink.Dependencies.Data.VO

<h1 class="text-center mt-2">Gerenciar Alunos</h1>
<hr class="separator" />

<div class="alert alert-success alert-dismissible animated bounceInDown fast @show" style="margin-top: -25px">
    Estudante adicionado com sucesso!
    <button type="button" class="close" aria-label="Close" @onclick="HideAlert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<button class="btn btn-primary rounded-circle button-circle-bottom waves-effect p-2 px-3 waves-float animated bounceInRight"
        data-toggle="modal" data-target="#modalNewStudent">
    <i class="mdi mdi-plus mdi-24px" />
</button>

@if (students is null)
{
    <p class="text-center py-2">Carregando...</p>
}
else if (students.Count == 0)
{
    <p class="text-center py-2">Ops! Nao existe nenhum estudante no curso.</p>
}
else
{
    <!--Table-->
    <section id="students-list-table" class="d-flex justify-content-lg-center">
        <table class="table table-hover table-students theme-bg theme-text">

            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th class="text-center" scope="col">Disciplinas</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in students)
                {
                    <tr class="tr-hover">
                        <td class="text-wrap">
                            <span>@student.Student.Name</span><br />
                            <span style="color: grey; font-size: 13px">@student.Student.Email</span>
                        </td>
                        <td class="icons-td text-center">
                            <span style="cursor: pointer" class="blue-text unselectable" @onclick="@(async () => await ViewDisciplinesAsync(student.Disciplines))">Ver</span>
                        </td>
                        <td class="icons-td text-center">
                            <button @onclick="@(async () => await RemoveStudentAsync(student.Student.StudentId))">
                                <span class="mdi mdi-delete red-text"></span>
                            </button>
                            <button @onclick="@(async () => await EditStudentAsync(student.Student.Name))">
                                <span class="mdi mdi-account-edit blue-text"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <!--Table-->
}

<!-- Modal Add Student -->
<div class="modal animated bounceInDown" id="modalNewStudent" tabindex="-1" role="dialog" aria-labelledby="modalNewStudent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content theme-bg theme-text">
            <div class="modal-header border-0 text-center">
                <h4 class="modal-title w-100 font-weight-bold text-center ml-5">Cadastrar Novo Aluno</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="theme-text">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- Nome -->
                <div class="md-form mb-5">
                    <input type="text" id="defaultForm-email" class="form-control validate theme-text" @bind="@newStudent.Name">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Nome</label>
                </div>
                <!-- Email -->
                <div class="md-form mb-4">
                    <input type="email" id="defaultForm-pass" class="form-control validate theme-text" @bind="@newStudent.Email">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Email</label>
                </div>
                <!-- Disciplinas -->
                <div class="d-flex mb-4">
                    @if (newStudent.Disciplines is null || (newStudent.Disciplines is IList<DisciplineVO> disc && disc.Count == 0))
                    {
                        <span>Selecione as disciplinas abaixo.</span>
                    }
                    else
                    {
                        @foreach (var discipline in newStudent.Disciplines)
                        {
                            <div class="chip waves-effect">
                                @(disciplines.SingleOrDefault(x => x.DisciplineId.Equals(discipline.DisciplineId)).Name)
                                <i class="mdi mdi-close" style="background-color: lawngreen; border-radius: 1em" @onclick="@(() => newStudent.Disciplines.Remove(discipline))"></i>
                            </div>
                        }
                    }
                </div>
                <SfAutoComplete TValue="string" TItem="DisciplineVO" Placeholder="Disciplinas" DataSource="@disciplines">
                    <AutoCompleteFieldSettings Value="Name" GroupBy="Period"></AutoCompleteFieldSettings>
                    <AutoCompleteTemplates TItem="DisciplineVO">
                        <GroupTemplate>
                            <span>@(context.Text)° Período</span>
                        </GroupTemplate>
                        <ItemTemplate>
                            @{
                                var discipline = (context as DisciplineVO);

                                void addNewDiscipline()
                                {
                                    if (!newStudent.Disciplines.Any(x => x.DisciplineId == discipline.DisciplineId))
                                        newStudent.Disciplines.Add(new DisciplineVO { DisciplineId = discipline.DisciplineId });
                                }
                            }
                            <span @onclick="@(() => addNewDiscipline())">@discipline.Name</span>
                        </ItemTemplate>
                        <NoRecordsTemplate>
                            <span class='norecord'>Nao tem nada aqui!</span>
                        </NoRecordsTemplate>
                    </AutoCompleteTemplates>
                </SfAutoComplete>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button class="btn btn-gradient waves-effect" @onclick="@(async () => await AddStudentAsync())">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal Student Disciplines -->
<div class="modal animated bounceInDown" id="modalStudentDisciplines" tabindex="-1" role="dialog" aria-labelledby="modalStudentDisciplines"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content theme-bg theme-text">
            <div class="modal-header border-0 text-center">
                <h4 class="modal-title w-100 font-weight-bold text-center ml-4">Disciplinas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="theme-text">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                @if (selectedStudent != -1)
                {
                    @foreach (var discipline in students[selectedStudent].Disciplines)
                    {
                        <h5>@discipline.Name (@discipline.Period Período)</h5>
                        <hr class="separator" />
                    }
                }
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button class="btn btn-gradient waves-effect" data-dismiss="modal" aria-label="Close">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->