@using System.Net

@model ResultModel<List<DisciplineVO>>

@{
    ViewData["Title"] = "Disciplinas";
}

@if (Model != null)
{
    switch (Model.StatusCode)
    {
        case HttpStatusCode.OK:
            break;
        case HttpStatusCode.Created:
        case HttpStatusCode.NoContent:
            <script>
                    sendMessage("@Model.Message", "success");
            </script>
            break;
        default:
            <script>
                    sendMessage("@Model.Message", "error");
            </script>
            break;
    }
}

<h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
<hr />

<a asp-action="Add" asp-controller="Disciplines" class="btn btn-primary rounded-circle button-circle-bottom waves-effect p-2 px-3 waves-float animated bounceInRight add-button-circle">
    <i class="mdi mdi-plus mdi-24px"></i>
</a>
<div class="md-form md-outline animated bounceInDown" style="margin-left: 20px; margin-right: 20px">
    <input id="disciplinesSearch" class="form-control" type="text" style="color: var(--theme-text)" />
    <label for="disciplinesSearch">Pesquisar</label>

    <style>
        .md-form.md-outline label.active
        {
            background: var(--theme-bg);
            color: var(--theme-text);
        }
    </style>
</div>

@if (Model.Object.Count() == 0)
{
    <p class="text-center p-4">Ops! Nao existe nenhuma disciplina para mostrar! 😢</p>
}
else
{
    <ul id="disciplinesList" class="card-deck list-disciplines animated bounceInUp">

        @foreach (DisciplineVO item in Model.Object)
        {
            <li class="card mb-4 theme-bg theme-text" style="max-width: 220px; min-width: 220px;  border-radius: 1.2em">
                <div>
                    <div style="position: relative">
                        <div style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;border-radius: 1.2em 1.2em 0em 0em;background-image: url('img/background.jpg'); background-size: cover; "></div>
                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 4.5rem; padding: 1rem 1rem 0.75rem; position: relative;">
                            <h6 style="font-weight: 600; color: white; width: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">@item.Name</h6>
                            <p class="card-text" style="color: #c5c5c5; position: absolute; top: 40px;">
                                @item.Teacher
                            </p>
                        </div>
                    </div>
                    <hr class="separator" style=" margin-top: 0; margin-bottom: 0;" />
                    <div style="padding: 10px">
                        <p class="card-text">
                            @(item.Period)º Período
                        </p>
                    </div>
                    <hr class="separator" style=" margin-top: 0; margin-bottom: 0;" />
                    <div style="text-align: end; padding: 5px">
                        <form method="post" class="icons-td d-inline-flex" action="Coordinator/Disciplines/Delete/@item.DisciplineId">
                            <button>
                                <i class="mdi mdi-delete-outline mdi-24px red-text"></i>
                            </button>
                        </form>
                        <form method="get" class="icons-td d-inline-flex" action="Coordinator/Disciplines/Update/@item.DisciplineId">
                            <button>
                                <i class="mdi mdi-calendar-edit mdi-24px blue-text"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $("#disciplinesSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#disciplinesList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>