@model List<DisciplineVO>

@{
    ViewData["Title"] = "Disciplinas";
}

@*@if (Model != null)
    {
        switch (Model.StatusCode)
        {
            case System.Net.HttpStatusCode.OK:
            case System.Net.HttpStatusCode.Created:
            case System.Net.HttpStatusCode.NoContent:
                <script>
                    sendMessage("@Model.Message", "success");
                </script>
                break;
            default:
                <script>
                    sendMessage("@Model.Message", "error");
                </script>
                break;
        }
    }*@

<h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
<hr />

<a asp-action="Add" asp-controller="Lessons" class="btn btn-primary rounded-circle button-circle-bottom waves-effect p-2 px-3 waves-float animated bounceInRight">
    <i class="mdi mdi-plus mdi-24px"></i>
</a>

@if (Model.Count() == 0)
{
    <p class="text-center p-4">Ops! Nao existe nenhuma disciplina para mostrar! 😢</p>
}
else
{
    <div class="card-deck" style="margin: 20px">

        @foreach (DisciplineVO item in Model)
        {
            <div class="card mb-4 theme-bg theme-text" style="max-width: 250px; border-radius: 1.2em">
                <div class="card-body">

                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">
                        @(item.Period)º Período
                    </p>
                    <p class="card-text">
                        @item.Teacher
                    </p>
                </div>
            </div>
        }
    </div>
}