@using System.Text.Json

@model ResultModel<List<StudentDisciplineVO>>

@{
    ViewData["Title"] = "Alunos";
}

@if (Model != null)
{
    switch (Model.StatusCode)
    {
        case System.Net.HttpStatusCode.OK:
            break;
        case System.Net.HttpStatusCode.Created:
        case System.Net.HttpStatusCode.NoContent:
            <script>
                sendMessage("@Model.Message", "success");
            </script>
            break;
        default:
            <script>
                sendMessage("@Model.Message", "error");
            </script>
            break;
    }
}

<h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
<hr />

<a asp-action="Add" asp-controller="Students" class="btn btn-primary rounded-circle button-circle-bottom waves-effect p-2 px-3 waves-float animated bounceInRight">
    <i class="mdi mdi-plus mdi-24px"></i>
</a>

@if (Model.Object.Count() == 0)
{
    <p class="text-center py-2">Ops! Nao existe nenhum estudante no curso.</p>
}
else
{
    <section id="students-list-table" class="d-flex justify-content-lg-center nosection-padding">
        <table class="table table-hover table-students theme-bg theme-text">

            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th class="text-center" scope="col">Disciplinas</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Object)
                {
                    <tr class="tr-hover">
                        <td class="text-wrap">
                            <span>@student.Student.Name</span><br />
                            <span style="color: grey; font-size: 13px">@student.Student.Email</span>
                        </td>
                        <td class="icons-td text-center">
                            @{
                                string json = JsonSerializer.Serialize(student.Disciplines.Select(x => new
                                {
                                    x.Name,
                                    x.Period
                                }));
                            }
                            <span style="cursor: pointer" class="blue-text unselectable" onclick="showDisciplines(@json)">Ver</span>
                        </td>
                        <td class="icons-td text-center">
                            <form method="post" class="d-inline-flex" action="Coordinator/Students/Delete/@student.Student.StudentId">
                                <button>
                                    <span class="mdi mdi-delete mdi-24px red-text"></span>
                                </button>
                            </form>
                            <form method="put" class="d-inline-flex" action="Coordinator/Students/Update/@student.Student.StudentId">
                                <button>
                                    <span class="mdi mdi-account-edit mdi-24px blue-text"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}

<div class="modal animated bounceInDown" id="modalStudentDisciplines" tabindex="-1" role="dialog" aria-labelledby="modalStudentDisciplines"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content theme-bg theme-text">
            <div class="modal-header border-0 text-center">
                <h4 class="modal-title w-100 font-weight-bold text-center ml-4">Disciplinas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="theme-text">&times;</span>
                </button>
            </div>
            <div id="disciplinesStudent" class="modal-body mx-3"></div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button class="btn btn-gradient waves-effect" data-dismiss="modal" aria-label="Close">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showDisciplines(disciplines) {
        const objDiv = document.getElementById("disciplinesStudent");

        let items = ``;

        disciplines.forEach(function (x) {

            items += `<span style="font-size: 14px">${x.Name} (${x.Period} Período)</span>
                <hr class="separator" />`;
        })

        objDiv.innerHTML = items;

        ShowModal("modalStudentDisciplines");
    }
</script>